
<h4 class="center">Add Your Project</h4>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <!-- <label for="last_name">Last Name</label> -->
        <input #newName placeholder="Project Name" type="text" >
      </div>
      <div class="input-field col s6">
        <input #newTarget placeholder="Finacial Goal" type="number" >
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input #newManger placeholder="Project Manager(s)" type="text">
      </div>
      <div class="input-field col s6">
        <input #newDescription placeholder="A brief description of your project" type="text">
      </div>
    </div>
    <div class="row">
      <div class="input-field col12">
        <textarea #newDetails placeholder="Full description of your project" class="materialize-textarea"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="input-field col12">
        <input #newSwag type="text" placeholder="Benefits of donating to your project">
      </div>
    </div>
    <button class="btn" (click)="submitForm(newName.value, newManger.value, newDescription.value, newTarget.value, newDetails.value, newSwag.value)">Submit your Project!</button>
  </form>
</div>
