<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a routerLink="" class="brand-logo center">Crowd Funding</a>
      <ul id="nav-mobile" class="right">
        <li><a routerLink="about">About</a></li>
        <li><a href="badges.html">View All Projects</a></li>
        <li><a href="collapsible.html">Admin</a></li>
      </ul>
      <ul class="left">
        <li><a routerLink="new-project">Add Project</a></li>
      </ul>
      <form class="left">
        <div class="input-field">
          <input type="search" name="search" [(ngModel)]="searchFilter" placeholder="Search for project" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons" (click)="clearSearch()">close</i>
        </div>
      </form>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
